<link rel="stylesheet" href="/css/header.css" />
<header>
  {{#if noButtons}}
    <nav>
      <div class="nav-wrapper">
	{{#if admin}}
<a href="/" class="brand-logo hide-on-med-and-down">
            CARDAWAY-MyAdmin
          </a>
<a href="/"><i class="material-icons left arrowBack"> arrow_back</i></a>
	  <ul class="right">
            <li id="nav-li">
              <ul class="tabs">
                <li class="tab" href="#test1">
                  <a href="#test1">
                    <i class="material-icons">
                      people_alt
                    </i>
                  </a>
                </li>

                <li class="tab" href="#test2">
                  <a href="#test2">
                    <i class="material-icons">
                      local_post_office
                    </i>
                  </a>
                </li>
                <li class="tab" href="test3">
                  <a href="#test3">
                    <i class="material-icons">
                      bar_chart
                    </i>
                  </a>
                </li>
              </ul>
            </li>

            <li id="nav-li">
              <a href="./php/functions/cerrar_session.php">
                Cerrar Sesi贸n
              </a>
            </li>
          </ul>
        {{/if}}
      </div>
    </nav>
  {{else}}
    <nav>
      <div class="nav-wrapper">
        {{#if admin}}
          <a href="/" class="brand-logo">
            CARDAWAY-MyAdmin
          </a>
        {{else}}
          <a href="/" class="brand-logo">
            P&R
          </a>
        {{/if}}

        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">
            menu
          </i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if admin}}
            <li id="nav-li">
              <a href="/admin">
                <button class="btn">
                  Administracion
                </button>
              </a>
              <li id="nav-li">
                <a href="./php/functions/cerrar_session.php">
                  Cerrar Sesi贸n
                </a>
              </li>
            </li>
          {{else if user}}
            <li id="nav-li">
              <a href="./php/pages/user_page.php">
                Mi cuenta
              </a>
            </li>
            <li id="nav-li">
              <a href="./php/functions/cerrar_session.php">
                Cerrar Sesi贸n
              </a>
            </li>
          {{else}}
            <li id="nav-li">
              <a
                class="waves-effect waves-light btn modal-trigger"
                href="#login"
              >
                Iniciar Sesion
              </a>
            </li>
            <li id="nav-li">
              <a
                class="waves-effect waves-light btn modal-trigger"
                href="/Registro"
              >
                Crea tu Cuenta
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li id="nav-mobile" class="right hide-on-med-and-down">
        {{#if admin}}
          <li id="nav-li">
            <a href="/admin">
              Administracion
            </a>
          </li>
          <li>
            <a href="./php/functions/cerrar_session.php">
              Cerrar Sesion
            </a>
          </li>
        {{else if user}}
          <li id="nav-li">
            <a href="./php/pages/user_page.php">
              Mi cuenta
            </a>
          </li>
          <li id="nav-li">
            <a href="./php/functions/cerrar_session.php">
              Cerrar Sesi贸n
            </a>
          </li>
        {{else if noButtons}}

        {{else}}
          <li id="nav-li">
            <a class="modal-trigger" href="#login">
              Iniciar Sesion
            </a>
          </li>
          <li id="nav-li">
            <a class="modal-trigger" href="/Registro">
              Crea tu Cuenta
            </a>
          </li>
        {{/if}}
      </li>
    </ul>
  {{/if}}
</header>
